@import './colors';

body {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* top */

.top {
  background: #10BBD5;
  width: 100%;
  display: inline-flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  margin-left: 52px;
  padding: 16px 0px;
}

.nav-top {
  display: flex;
  align-items: center;
  margin-right: 52px;
  gap: 8px;
}

.sum {
  display: flex;
  color: #F8FDFE;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  padding-right: 44px;
  gap: 3px;
}

.sum::after {
  content: ' €';
}

.zero {
  position: absolute;
  top: 27px;
  right: 67px;
  color: #000;
  font-family: Cabin;
  font-size: 12px;
  font-weight: 400;
}

.cart {
  position: absolute;
  top: 20px;
  right: 52px;
  display: flex;
  background-image: url(../img/Vector-cart.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.left-wheel {
  position: absolute;
  top: 44px;
  right: 76px;
  display: flex;
  background-image: url(../img/Vector-left-wheel.png);
  background-repeat: no-repeat;
  width: 8.4px;
  height: 8.4px;
}

.right-wheel {
  position: absolute;
  top: 44px;
  right: 63px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(../img/Vector-left-wheel.png);
  width: 8.4px;
  height: 8.4px;
}

/* bottom */

.btm {
  padding: 4px 52px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
}

.menu-btm {
  display: flex;
  gap: 40px;
}

.nav-btn {
  color: #000;
}

/* main */

.main {
  background: $beige
    /* Fallback value:  #EEEEEF */
  ;
  padding: 96px 52px;
}

.title {
  color: $black;
  font-family: Cabin;
  font-size: 32px;
  font-weight: 600;
  padding: 36px 0 23px;
  border-bottom: 1px solid #A8A8A8;
  max-width: 100%;
  margin: 0 auto;
}

/* grid */

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 24px;
  padding-top: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
  border: 1px solid #A8A8A8;
  font-family: Cabin;
  font-size: 20px;
  font-weight: 700;
  background-color: #F8FDFE;
  position: relative;
}

.item img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  max-width: 178px;
  max-height: 280px;
  margin: 0 auto;
}

/* info book */

.name {
  color: $black
    /* Fallback value:  #1F1F1F */
  ;
}

.name {
  margin-top: 16px;
}

.author {
  color: $gray
    /* Fallback value:  #8E8E8E */
  ;
  font-size: 16px;
  border-top: 1px solid #A8A8A8;
  margin-bottom: 8px;
}

.price {
  display: flex;
  color: #E90000;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 16px;
  gap: 24px;
  text-align: center;
  align-items: center;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-top: auto;
  border-radius: 4px;
  background: $eggplant
    /* Fallback value:  #4C394E */
  ;
  color: $white
    /* Fallback value:  #F8FDFE */
  ;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  transition: .2s;
}

.add:hover {
  background: #744978;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-top: auto;
  border-radius: 4px;
  background: #4D762D;
  color: $white
    /* Fallback value:  #F8FDFE */
  ;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  transition: .2s;
}

.end:hover {
  background: #6DB236;
}

.price-3,
.price-5,
.price-6,
.price-7,
.price-10,
.price-11 {
  color: $gray
    /* Fallback value:  #8E8E8E */
  ;
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: line-through;
  display: flex;
  text-align: center;
  justify-content: center;
}

.hit {
  color: #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  background: #4200FF;
  border-radius: 4px;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 24px;
  width: 20px;
}

.new {
  color: #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  background: #AF39E7;
  border-radius: 4px;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 24px;
  width: 31px;
}

.sale {
  color: #F8FDFE;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  background: #EA33C0;
  border-radius: 4px;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 24px;
  width: 57px;
}

.badge {
  display: inline-flex;
  width: 161px;
  height: 32px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
}

/* chat */

.chat-container {
  display: flex;
  justify-content: flex-end;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10BBD5;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  transition: .2s;
  position: fixed;
  bottom: 60px;
  right: 28px;
}

.chat:hover {
  transform: rotate(12.05deg);
}

/* footer */

.footer {
  background-color: $eggplant;
  display: flex;
  height: 88px;
  justify-content: space-between;
}

.copyright-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: $white;
  font-family: Cabin;
  font-size: 16px;
  margin-left: 52px;
}

.all-right-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: $white;
  font-family: Cabin;
  font-size: 16px;
  margin-right: 52px;
}
